
@{
    Layout = null;
    ViewBag.Title = "HomePage";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/Content/main.css">
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/materialize.js"></script>
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

</head>
<body>
    <section id="home">
        <div class="responsive-video">
            <video autoplay loop>
                <source src="~/Content/bg-video.mp4">
            </video>
        </div>
        <div class="home-element white-text">
            <h1>OkFood</h1>
            <h2>We know, what to do with your money</h2>
            <form class="container">
                <div class="row">
                    <div class="col s6 offset-s6">
                        <div class="row">
                            <div class="input-field">
                                <input id="password" type="password" class="validate  white-text">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field white-text">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <a class="waves-effect waves-light btn deep-purple accent-1">LOG IN</a>
                        <a class="waves-effect waves-light btn deep-purple accent-1 ">SIGN IN</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section id="about">
        <div class="container ">
            <div class="section-white">
                <div class="row-container row">
                    <h2 class="col s5 offset-s7">O СЕРВИСЕ</h2>
                    <p class="flow-text col s6 push-s6">
                        Порой, в нашем современном мире тяжело контролировать свои финансовые операции, особенно, если вы всегда находитесь в движении.
                        Исходя из вышесказанного, к нам пришла идея, для создания сервиса учета финансов, который будет контролировать все транзакции, совершенные вами.
                        Наш сервис для учета личных финансов, является максимально удобным и простым для использования. Он позволяет планировать ваш бюджет, вести учет доходов, расходов, долгов, а также, планирование платежей. Также, присутствует функция, которая отображает в виде графиков ваши доходы/расходы за определенный промежуток времени.
                    </p>
                    <i class="large material-icons col s6 pull-s6">view_list</i>
                    <p class='flow-text col s6 pull-s6'>распределения денежных средств по дням</p>
                    <i class="large material-icons col s6 pull-s6">trending_up</i>
                    <p class="flow-text col s6 pull-s6">подробная статистика и графики</p>
                    <i class="large material-icons col s6 pull-s6">track_changes</i>
                    <p class="flow-text col s6 pull-s6">быстродействие</p>
                    <i class="large material-icons col s6 pull-s6">visibility</i>
                    <p class="flow-text col s6 pull-s6">простой интерфейс</p>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section id="more">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
                    <div class="caption left-align">
                        <h3>Left Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
                    <div class="caption right-align">
                        <h3>Right Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section id="price">
        <div class="container">
            <div class="row">
                <h1>Price table</h1>
                <table class="pesponsive-table striped col s12 offset-s5">
                    <thead>
                        <tr>
                            <th></th>
                            <th>FREE</th>
                            <th>Advanced</th>
                            <th>VIP</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Best</th>
                            <th>+</th>
                            <th>+</th>
                            <th>+</th>
                        </tr>
                        <tr>
                            <th>Best</th>
                            <th>+</th>
                            <th>+</th>
                            <th>+</th>
                        </tr>
                        <tr>
                            <th>Best</th>
                            <th>+</th>
                            <th>+</th>
                            <th>+</th>
                        </tr>
                        <tr>
                            <th>Best</th>
                            <th>+</th>
                            <th>+</th>
                            <th>+</th>
                        </tr>
                        <tr>
                            <th>Best</th>
                            <th>-</th>
                            <th>+</th>
                            <th>+</th>
                        </tr>
                        <tr>
                            <th>Best</th>
                            <th>-</th>
                            <th>+</th>
                            <th>+</th>
                        </tr>
                        <tr>
                            <th>Best</th>
                            <th>-</th>
                            <th>-</th>
                            <th>+</th>
                        </tr>
                        <tr>
                            <th>Best</th>
                            <th>-</th>
                            <th>-</th>
                            <th>+</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <div class="parallax-container">
        <div class="parallax"><img src="~/Content/parallax1.jpg" alt=""></div>
    </div>
    <script type="text/javascript">

            $(document).ready(function () {
                $('.parallax').parallax();
            });
    </script>
    <script type="text/javascript">
            $('.click-menu-element').click(function () {
                $('html, body').animate({ scrollTop: $('#elementId').position().top }, 20000);
            });
    </script>
    <script type="text/javascript">
            $(document).ready(function () {
                $('.slider').slider({ full_width: true }, { indicators: false });
            });
    </script>
</body>
</html>